body {
    font-family: 'Montserrat', sans-serif;
}

.cstm-menu {
    background: #F9F9F9;
    padding: 15px;
    padding-top: 30px;
}

.navbar-nav li a {
    font-size: 0.92857em;
    font-weight: 500;
    color: #000;
    padding-bottom: 5px;
    text-transform: uppercase;
    padding: 0px;
    padding-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}

.c-box1 {
    background: #F9F9F9;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title1 {
    font-weight: 500;
    font-size: 2.85714em;
    text-align: center;
    margin: 0px;
    color: black;
}

hr {
    margin-top: 10px;
    width: 45px;
    border-top: 3px solid black;
}

.c-cont1 {
    padding-top: 120px;
    font-size: 1.14286em;
    color: #343434;
}

.c-box2 {
    margin-top: 70px;
}

.c-form {
    margin-top: 50px;
}

.c-brdr1 {
    margin-left: 0px;
}

.title2 {
    font-weight: 500;
    font-size: 1.28571em;
    color: #111;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.p-0 {
    padding: 0px;
    background: white;
    margin-bottom: 25px;
}

label {
    font-size: 1.14286em;
    color: #7a7a7a;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.p-r-15 {
    padding-right: 15px;
}

.cstm-form-control {
    height: 40px;
    border-radius: 2px;
}

.cstm-form-control:hover, .cstm-form-control:focus {
    box-shadow: none;
    border-color: black !important;
}

.w-100 {
    width: 100%;
}

.cstm-btn {
    font-size: 1.14286em;
    border-radius: 2px;
    background: #141414;
    color: white;
    padding: 15px 35px;
    border: none;
    font-weight: 500;
    transition: 0.3s;
}

.cstm-btn:hover, .cstm-btn:focus {
    background: black;
}

.login-btn {
    font-size: 1.14286em;
    border-radius: 2px;
    background: #141414;
    color: white;
    display: inline-block;
    padding: 5px 5px;
    border: none;
    font-weight: 500;
    transition: 0.3s;
    float: right;
}

.login-btn:hover, .login-btn:focus {
    background: black;
}

.reset-btn {
    font-size: 1.14286em;
    border-radius: 2px;
    background: #141414;
    color: white;
    display: inline-block;
    padding: 5px 5px;
    border: none;
    font-weight: 500;
    transition: 0.3s;
}

.reset-btn:hover, .reset-btn:focus {
    background: black;
}

.footer {
    margin-top: 150px;
    background-color: #000;
    color: #757575;
    padding: 150px 0;
}

.footer .img1 {
    height: 30px;
    margin: 0px auto;
    margin-bottom: 15px;
}

.cstm-brdr2 {
    width: 95%;
    border-top: 1px solid #333;
    margin: 22px auto 21px;
}

.m-t-8 {
    margin-top: 8px;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    border-bottom: 2px solid black;
}

.navbar-fixed-top {
    background: white;
    border-bottom: 1px solid #CCC;
}

.footer-sec {
    width: 675px;
    text-align: center;
    padding-left: 50px;
}

#white-background {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #fefefe;
    opacity: 0.7;
    z-index: 9999;
}

#dlgbox {
    display: none;
    position: fixed;
    width: 480px;
    z-index: 9999;
    border-radius: 5px;
    background-color: #7c7d7e;
}
.error {
    color: red;
    position: absolute;
}
